nav{
    display: flex;
    flex-direction: row;
    margin: 2vw 1vw 0 2vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw 0 0;
}

nav div a img{
    width: 12vw
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s ease;

}

nav ul li a:hover{
    color: #38b6ff;
}

nav ul li button{
    background-color: #38b6ff;
    color: white;
    border: none;
    padding: 0.6rem 2rem;
    margin: -0.5rem -1rem -0.5rem 20rem;
    border-radius: 5rem 2rem 5rem 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
    border: #38b6ff solid 2px;
}

nav ul li button:hover{
    background-color: white;
    color: black;
    
}

nav .menuham{
    display: none;
}

@media screen and (max-width:960px) {
    nav{
        margin-top: 2vh;   
    }

    nav div a img{
        width: 16vh
    }
    
    nav ul{
        display: none;
    }

    nav .menuham{
        display: block;
        cursor: pointer;
        width: 3vh;
    }
}