#we{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.titlewe{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.titlewe h1{
    font-size: 2.5vw;
}

.wecontent{
    display: flex;
    margin-top: 2vw;
    justify-content: center;
    background-image: url("../img/backgroundwe3.png");
    background-size: cover; /* pour couvrir toute la div */
    background-position: center; /* pour centrer l'image */
    align-items: center ;
    height: 70vh;
    width: 90vw;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 4px solid rgb(252, 251, 251);
}

.wecontent div{
    width: 25vw;
    height: 30vw;
    border: 4px solid rgb(234, 233, 233);
    border-radius: 35px;
    margin: 0 0.7vw 0 0.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wecontent div p{
    text-align: center;
    font-size: 1.1vw;
}

.wecontent div img{
    width: 23vw;
    margin: 2vh 0 2vh 0;
    border-radius: 15px;
}

.wecontent .wecontent-spacebox img{
    margin: 0.2vh 0 2.5vh 0;
}

.wecontent div:hover{
    transform: scale(1.01);
}

